* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

#navbar {
  box-shadow: 0px -1px 10px -3px rgb(0, 0, 0);
  background-color: white;
  /* Styles for the search bar container */
  /* Styles for the search bar */
  /* Styles for the search button */
}
#navbar .search-bar-container {
  position: absolute;
  right: 10px;
  top: 40px;
  list-style: none;
  background-color: white;
  padding: 15px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#navbar .show {
  opacity: 1;
  transform: translateY(6px);
}
#navbar .navbar-colapse {
  transition: all 0.3s ease;
}
#navbar .navbar-toggler {
  border: #111111 solid;
}
#navbar .bg-light {
  background-color: white !important;
}
#navbar .nav-item {
  position: relative;
}
#navbar .nav-link {
  padding-bottom: 0.2rem;
  transition: all 0.3s ease;
}
#navbar .linkdropdown {
  position: absolute;
  left: -10px;
  list-style: none;
  background-color: white;
  padding: 15px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#navbar .linkdropdown li {
  cursor: pointer;
  padding-bottom: 0.5rem;
}
#navbar .linkdropdown li a {
  padding-bottom: 0.5rem;
  text-decoration: none;
}
#navbar .nav-item:hover .linkdropdown {
  opacity: 1;
  transform: translateY(6px);
}
#navbar #search-icon-link {
  cursor: pointer;
}
#navbar #search-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#navbar #search-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#navbar a {
  color: #111111;
  border: none;
  position: relative;
}
#navbar a .show {
  opacity: 1;
  transform: translateY(6px);
}
#navbar a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1b5b31;
  transition: width 0.3s ease;
}
#navbar a:hover {
  color: #1b5b31;
}
#navbar a:hover::after {
  width: 100%; /* Width on hover */
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.2rem;
}
.navbar-brand span {
  font-style: italic;
  font-weight: 300;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron-fluid {
  display: flex;
}
.jumbotron-fluid #img-hero {
  padding: 0;
}
.jumbotron-fluid #img-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.jumbotron-fluid #text-hero {
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
.jumbotron-fluid #text-hero .col-text {
  min-width: 600px;
  margin-inline: auto;
  padding-inline: 4rem;
}
.jumbotron-fluid #text-hero .col-text .col-buttons {
  display: flex;
}
.jumbotron-fluid #text-hero .col-text h1 {
  font-size: 4rem;
  width: 100%;
  color: black;
  font-weight: 500;
}
.jumbotron-fluid #text-hero .col-text p {
  max-width: 75%;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  color: black;
}
.jumbotron-fluid #text-hero .col-text button {
  padding: 0.8rem 1.5rem;
  border-radius: 4rem;
  min-width: 210px;
}
.jumbotron-fluid #text-hero .col-text button:first-of-type {
  margin-right: 2rem;
}
.jumbotron-fluid #text-hero .col-text .btn-dark {
  background-color: #1b5b31;
  border-color: #1b5b31;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.jumbotron-fluid #text-hero .col-text .btn-dark:hover {
  transform: translate(-2px, -4px);
  box-shadow: 2px 4px 4px black;
}
.jumbotron-fluid #text-hero .col-text .btn-outline-dark {
  border-color: #1b5b31;
  color: #1b5b31;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.jumbotron-fluid #text-hero .col-text .btn-outline-dark:hover {
  background-color: transparent;
  transform: translate(-2px, -4px);
  box-shadow: 2px 4px 4px #1b5b31;
}

#hero {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  background-color: #dcc1ab;
  scroll-margin-top: 54px;
}
#hero .row {
  margin: 0;
}
#hero .row #text-hero {
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
#hero .row #text-hero .col-text {
  margin-inline: auto;
  padding-inline: 4rem;
}
#hero .row #text-hero .col-text .col-buttons {
  display: flex;
}
#hero .row #text-hero .col-text h1 {
  font-size: 4rem;
  width: 100%;
  color: black;
  font-weight: 500;
}
#hero .row #text-hero .col-text p {
  max-width: 75%;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  color: black;
}
#hero .row #text-hero .col-text button {
  padding: 0.8rem 1.5rem;
  border-radius: 4rem;
  min-width: 210px;
}
#hero .row #text-hero .col-text button:first-of-type {
  margin-right: 2rem;
}
#hero .row #text-hero .col-text .btn-dark {
  background-color: #1b5b31;
  border-color: #1b5b31;
}
#hero .row #text-hero .col-text .btn-outline-dark {
  border-color: #1b5b31;
  color: #1b5b31;
}
#hero .row #img-hero {
  padding: 0;
}
#hero .row #img-hero img {
  width: 100%;
  max-height: 800px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#oferta {
  background-color: #f5f0ec;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-margin-top: 54px;
}
#oferta .oferta-head {
  width: 50vw;
  margin-inline: auto;
  margin-top: 4rem;
  padding: 2rem 4rem 0 0;
}
#oferta .oferta-head h1 {
  font-size: 2.5rem;
  margin-bottom: 2.2rem;
  font-weight: 500;
}
#oferta .oferta-head h1 span {
  font-family: "Inter", sans-serif;
  font-style: italic;
}
#oferta .oferta-head p {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
#oferta .oferta-head h6 {
  font-size: 0.9rem;
  color: #1b5b31;
  font-weight: 500;
}
#oferta .oferta-head .oferta-text {
  max-width: 650px;
}
#oferta .cards {
  display: flex;
  gap: 3rem;
  padding: 4rem;
  justify-content: center;
  max-width: 1300px;
  margin-inline: auto;
  margin-bottom: 5rem;
}
#oferta .cards .card {
  border-radius: 20px;
  flex-basis: calc(33.33333% - 8px);
  align-items: center;
  justify-content: center;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
#oferta .cards .card:hover {
  transform: translate(-2px, -4px);
  box-shadow: 2px 4px 10px #1b5b31;
}
#oferta .cards .card .card-body {
  padding: 0;
  flex: none;
  margin: 1.8rem;
}
#oferta .cards .card .card-body img {
  margin: 2rem 0;
}
#oferta .cards .card .card-body h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
#oferta .cards .card .card-body p {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 4rem;
}
#oferta .cards .card .card-body a {
  padding-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  border-bottom: solid 1px;
  position: relative;
  color: #1b5b31;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}
#oferta .cards .card .card-body a span {
  font-size: 1.6rem;
}

#ofirmie {
  display: grid;
  background-color: #1b5b31;
  grid-template-columns: 50% 2fr;
  scroll-margin-top: 54px;
}
#ofirmie .ofirmie-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 800px;
}
#ofirmie .ofirmie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
#ofirmie .ofirmie-container .ofirmie-text {
  margin: 5rem;
  max-width: 500px;
  color: white;
}
#ofirmie .ofirmie-container .ofirmie-text button {
  padding: 0.8rem 1.5rem;
  border-radius: 4rem;
  min-width: 210px;
}
#ofirmie .ofirmie-container .ofirmie-text button span {
  font-size: 1.3rem;
}
#ofirmie .ofirmie-container .ofirmie-text h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#ofirmie .ofirmie-container .ofirmie-text h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#ofirmie .ofirmie-container .ofirmie-text h2 span {
  font-family: "Inter", sans-serif;
  font-style: italic;
}
#ofirmie .ofirmie-container .ofirmie-text p {
  font-size: 0.9rem;
  margin-bottom: 4rem;
  font-family: "Inter", sans-serif;
}

#galeria {
  position: relative;
  background-color: #dcc1ab;
  scroll-margin-top: 54px;
}
#galeria .galeria-head {
  width: 50vw;
  margin-inline: auto;
  padding: 5rem 4rem 0 0;
}
#galeria .galeria-head h2 {
  font-size: 2.5rem;
  margin-bottom: 2.2rem;
  font-weight: 500;
}
#galeria .galeria-head h2 span {
  font-family: "Inter", sans-serif;
  font-style: italic;
}
#galeria .galeria-head p {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
#galeria .galeria-head h6 {
  font-size: 0.9rem;
  color: #1b5b31;
  font-weight: 500;
}
#galeria .galeria-head .galeria-text {
  max-width: 650px;
}

.gallery {
  width: 100%;
  margin-inline: auto;
  z-index: 4;
  position: relative;
  overflow: hidden;
}

.gallery:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #dcc1ab);
  pointer-events: none;
}

.item {
  width: 100%;
  cursor: pointer;
}

.close {
  font-size: 50px;
  color: white;
  opacity: 1;
  cursor: pointer;
}
.close:hover {
  color: white;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 50px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: translateY(-50%);
  z-index: 2;
}
.prev:hover,
.next:hover {
  color: white;
  opacity: 0.5;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.927);
  height: 100%;
  width: 100%;
  z-index: 2000;
  display: none;
}

.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 90vw;
  max-height: 90vh;
}

#load-more {
  z-index: 200;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 1.3rem;
  border: solid 1px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#load-more:hover {
  background-color: #111111;
  color: white;
  border: none;
}

#insta {
  padding-top: 4rem;
  scroll-margin-top: 54px;
}
#insta .insta-content {
  background-color: #1b5b31;
  color: white;
  width: 80%;
  display: flex;
  margin-inline: auto;
  padding: 4rem;
  margin-bottom: 50px;
}
#insta .insta-content .insta-head {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 3;
}
#insta .insta-content .insta-head h4 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5rem;
  font-weight: 200;
}
#insta .insta-content .insta-head h4 span {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 700;
}
#insta .insta-content .insta-button {
  flex: 1;
}
#insta .insta-content .insta-button h5 {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
#insta .insta-content .insta-button button {
  font-size: 0.8rem;
  border-radius: 20px;
  color: #1b5b31;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#insta .insta-content .insta-button button:hover {
  background-color: #dadada;
}

#footer {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  background-color: #111111;
  color: white;
  padding: 4rem 0;
}
#footer .text1 {
  width: 80%;
  margin-inline: auto;
}
#footer .text1 .line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
#footer .text1 .line1 .logo-f {
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
  font-size: 1.2rem;
}
#footer .text1 .line1 .logo-f span {
  font-weight: 700;
  font-style: normal;
}
#footer .text1 .line1 .line1-button {
  display: flex;
}
#footer .text1 .line1 .line1-button button {
  background-color: #1b5b31;
  color: white;
  border-radius: 20px;
  margin-left: 0.5rem;
  padding: 0.6rem 1rem;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#footer .text1 .line1 .line1-button button:hover {
  background-color: #0d2e19;
  transform: translate(-1px, -1px);
}
#footer .text1 .line1 .line1-button h6 {
  font-size: 0.9rem;
  margin-top: auto;
  margin-bottom: auto;
}
#footer .text1 .line hr {
  border: solid 1px;
  color: #f5f0ec;
}
#footer .text1 .line2 {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
#footer .text1 .line2 .links {
  display: flex;
  list-style: none;
  gap: 2rem;
}
#footer .text1 .line2 .kontakt {
  display: flex;
  list-style: none;
  gap: 2rem;
}
#footer .text2 {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
#footer .text2 .copy p {
  margin-top: auto;
  margin-bottom: auto;
}
#footer .text2 .made {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
#footer .text2 .made p {
  margin-top: auto;
  margin-bottom: auto;
}
#footer .text2 .made img {
  height: 1.1rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 992px) {
  #hero {
    scroll-margin-top: 300px !important;
  }
  #oferta {
    scroll-margin-top: 300px !important;
  }
  #galeria {
    scroll-margin-top: 300px !important;
  }
  #ofirmie {
    scroll-margin-top: 300px !important;
  }
  .navbar-nav {
    float: left !important;
  }
  #search-icon-link img {
    height: 30px;
  }
  .nav-item a {
    font-size: 2rem;
    height: 50px;
  }
  .jumbotron-fluid {
    flex-direction: column;
  }
  .col-text {
    min-width: 0px !important;
    padding-inline: 1rem !important;
  }
  .col-text h1 {
    font-size: 3rem !important;
  }
  .col-text button {
    width: 230px;
    margin-bottom: 1rem;
    margin-inline: 0;
  }
  .col-text button:first-of-type {
    margin-right: 0 !important;
    margin-inline: 0 !important;
  }
  .col-buttons {
    flex-direction: column;
    margin-inline: auto;
  }
  .cards {
    flex-direction: column;
    padding: 0.5rem !important;
  }
  .oferta-head {
    padding: 0 0 0 0 !important;
    margin-inline-start: 20px !important;
  }
  .oferta-head h1 {
    text-align: center;
    margin-inline: auto;
  }
  #ofirmie {
    grid-template-columns: 1fr;
  }
  .ofirmie-text {
    margin: 1rem !important;
  }
  .links {
    display: flex;
    justify-content: space-between;
    gap: 0 !important;
  }
  .kontakt {
    justify-content: space-between;
    gap: 0 !important;
  }
  .insta-content {
    flex-direction: column;
    gap: 2rem;
  }
  .text1 {
    flex-direction: column;
  }
  .text1 .line1 {
    flex-direction: column;
    gap: 1rem;
  }
  .text1 .line1 .line1-button {
    flex-direction: column;
    gap: 1rem;
  }
  .text1 .line2 {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */