* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

#navbar {
  box-shadow: 0px -1px 10px -3px rgb(0, 0, 0);
  background-color: white;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron-fluid {
  background-color: #DCC1AB;
  display: flex;
  height: 94vh;
  min-height: 600px;
}
.jumbotron-fluid #img-hero {
  padding: 0;
}
.jumbotron-fluid #img-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.jumbotron-fluid #text-hero {
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
.jumbotron-fluid #text-hero .col-text {
  min-width: 600px;
  margin-inline: auto;
  padding-inline: 4rem;
}
.jumbotron-fluid #text-hero .col-text .col-buttons {
  display: flex;
}
.jumbotron-fluid #text-hero .col-text h1 {
  font-size: 4rem;
  width: 100%;
  color: black;
  font-weight: 500;
}
.jumbotron-fluid #text-hero .col-text p {
  max-width: 75%;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  color: black;
}
.jumbotron-fluid #text-hero .col-text button {
  padding: 0.8rem 1.5rem;
  border-radius: 4rem;
  min-width: 210px;
}
.jumbotron-fluid #text-hero .col-text button:first-of-type {
  margin-right: 2rem;
}
.jumbotron-fluid #text-hero .col-text .btn-dark {
  background-color: #1B5B31;
  border-color: #1B5B31;
}
.jumbotron-fluid #text-hero .col-text .btn-outline-dark {
  border-color: #1B5B31;
  color: #1B5B31;
}

#hero {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  background-color: #DCC1AB;
}
#hero .row {
  margin: 0;
}
#hero .row #text-hero {
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
#hero .row #text-hero .col-text {
  margin-inline: auto;
  padding-inline: 4rem;
}
#hero .row #text-hero .col-text .col-buttons {
  display: flex;
}
#hero .row #text-hero .col-text h1 {
  font-size: 4rem;
  width: 100%;
  color: black;
  font-weight: 500;
}
#hero .row #text-hero .col-text p {
  max-width: 75%;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  color: black;
}
#hero .row #text-hero .col-text button {
  padding: 0.8rem 1.5rem;
  border-radius: 4rem;
  min-width: 210px;
}
#hero .row #text-hero .col-text button:first-of-type {
  margin-right: 2rem;
}
#hero .row #text-hero .col-text .btn-dark {
  background-color: #1B5B31;
  border-color: #1B5B31;
}
#hero .row #text-hero .col-text .btn-outline-dark {
  border-color: #1B5B31;
  color: #1B5B31;
}
#hero .row #img-hero {
  padding: 0;
}
#hero .row #img-hero img {
  width: 100%;
  max-height: 800px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#oferta {
  background-color: #F5F0EC;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#oferta .oferta-head {
  width: 50vw;
  margin-inline: auto;
  margin-top: 4rem;
  padding: 2rem 4rem 0 0;
}
#oferta .oferta-head h1 {
  font-size: 2.5rem;
  margin-bottom: 2.2rem;
  font-weight: 500;
}
#oferta .oferta-head h1 span {
  font-family: "Inter", sans-serif;
  font-style: italic;
}
#oferta .oferta-head p {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
#oferta .oferta-head h6 {
  font-size: 0.9rem;
  color: #1B5B31;
  font-weight: 500;
}
#oferta .oferta-head .oferta-text {
  max-width: 650px;
}
#oferta .cards {
  display: flex;
  gap: 3rem;
  padding: 4rem;
  justify-content: center;
  max-width: 1300px;
  margin-inline: auto;
  margin-bottom: 5rem;
}
#oferta .cards .card {
  border-radius: 20px;
  flex-basis: calc(33.33333% - 8px);
  align-items: center;
  justify-content: center;
}
#oferta .cards .card .card-body {
  padding: 0;
  flex: none;
  margin: 1.8rem;
}
#oferta .cards .card .card-body img {
  margin: 2rem 0;
}
#oferta .cards .card .card-body h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
#oferta .cards .card .card-body p {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 4rem;
}
#oferta .cards .card .card-body a {
  padding-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  border-bottom: solid 1px;
  position: relative;
  color: #1B5B31;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}
#oferta .cards .card .card-body a span {
  font-size: 1.6rem;
}

#ofirmie {
  display: grid;
  background-color: #1B5B31;
  grid-template-columns: 50% 2fr;
}
#ofirmie .ofirmie-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 800px;
}
#ofirmie .ofirmie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
#ofirmie .ofirmie-container .ofirmie-text {
  margin: 5rem;
  max-width: 500px;
  color: white;
}
#ofirmie .ofirmie-container .ofirmie-text button {
  padding: 0.8rem 1.5rem;
  border-radius: 4rem;
  min-width: 210px;
}
#ofirmie .ofirmie-container .ofirmie-text button span {
  font-size: 1.3rem;
}
#ofirmie .ofirmie-container .ofirmie-text h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#ofirmie .ofirmie-container .ofirmie-text h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#ofirmie .ofirmie-container .ofirmie-text h2 span {
  font-family: "Inter", sans-serif;
  font-style: italic;
}
#ofirmie .ofirmie-container .ofirmie-text p {
  font-size: 0.9rem;
  margin-bottom: 4rem;
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=style.css.map */